//
// Main Style
// --------------------------------------------------


// Variables
// -------------------------
font-folder = "../../../assets/fonts/structure/"
img-folder = "../../../assets/img/dist/"

width-mobileportrait = 320px
width-mobilelandscape = 480px
width-tabletportrait = 768px
width-tabletlandscape = 1024px
width-desktop = 1280px

width-mobileportrait-content = 300px
width-mobilelandscape-content = 460px
width-tabletportrait-content = 748px
width-tabletlandscape-content = 1004px
width-desktop-content = 1140px


// Import
// -------------------------
@import "nib";