- var pagetitle = "About"
- var pagename = "about"

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class="container " + pagename)
	div.row(role="main")
		p #{pagename}
		
include /includes/footer