- var pagetitle = "Home"
- var pagename = "home"

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class="container " + pagename )
	div.row(role="main")
		p #{pagename}
		
include /includes/footer