- var pagetitle = "Home"
- var pagename = "home"

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class="container " + pagename, role="main" )
	div.row
		p #{pagename}
		
include /includes/footer