- var pagetitle = "Home"
- var pagename = "home"

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
div(class="main " + pagename, role="main" )
	div.container
		div.row
			p #{pagename}
			
include /includes/footer