@import "../style.styl";

//
// IE8
// --------------------------------------------------

.lt-ie9
	/*	--------------------------------------------------
	:: 
	-------------------------------------------------- */
	